@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

:root{
    --primary: white;
    --secondary: #231F20;
    --background: #FAFAFA;
    --button: #0095F6;
    --border: lightgray;
}

body{
    background-color: var(--background);
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}
a:active{
    color: inherit;
}
a:visited{
    color: inherit;
}

input:focus{
    outline: none;
}

.btn{
    font-size: 14px;
    font-weight: 500;
    margin-left: 2px;
    margin-right: 4px;
    padding: 6px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-primary{
    background-color: var(--button);
    color: var(--primary);
}
.btn-secondary{
    background-color: var(--primary);
    border: 1px solid var(--border);
}

.icon{
    font-size: 30px;
    font-weight: 100;
    margin-right: 18px;
}

.icon button{
    font-size: inherit;
    color: inherit;
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.icon img{
    padding: 0;
    height: 28px;
    width: 28px;
    border-radius: 50px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: var(--primary);
    width: 400px;
    margin-left: -250px;
    z-index: 1;
}
  
.dropdown-content-show {
    display: block;
}
  